{% load i18n %}
{% load l10n %}
{% load static %}
{% load cidade %}
<html>
<head>
    <title>MarkSeverIano</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'interface/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'interface/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'interface/web-fonts-with-css/css/fontawesome-all.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Cuprum|Exo|Kanit|Play|Poiret+One" rel="stylesheet">
    <script type="application/javascript" src="{% static 'interface/js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'interface/boostrap/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">MarkSeverIano</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cinemas/">Cinemas</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" name="cidades">
                <select class="from-control mr-sm-2" name="cidade_atual" onchange="$('form[name=cidades]').submit()">
                    {% cidades_disponiveis request %}
                </select>
            </form>
            <ul class="navbar-nav my-2">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="/login/">
                            Login
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/cadastrar/">
                            Cadastrar
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="/reservas/">
                            Reservas
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="/logout/">
                            Sair
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% block corpo %}
{% endblock %}
<script type="application/javascript">
    $(function () {
        $('form[name=cidades]').submit(function (e) {
            e.preventDefault();
            $.post("/mudarCidade/", $(this).serialize(), function () {
                location.reload();
            });
        });

    })
</script>
</body>
</html>