{% load i18n %}
{% load l10n %}
{% load static %}
<html>
<head>
    <title>MarkSeverIano</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'interface/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Cuprum|Exo|Kanit|Play|Poiret+One" rel="stylesheet">
    <script type="application/javascript" src="{% static 'interface/js/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'interface/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MarkSeverIano</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <div class="row">
                <div class="col-md-6 col-offset-md-6">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <h1><b style="font-size: 25pt;">MarkSeverIano</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <aa align='right' style="font-family: 'Play'; font-size: 10pt">Sign In</aa>
        <aa align='right' style="font-family: 'Play'; font-size: 10pt">Sign Up</aa>
    </h1>
</div>

<div class="produtd`os-section">
    <img style="width:1349px; height:300px;"
         src="http://files-febre.s3.us-east-2.amazonaws.com/s3fs-public/banco_imagens/imagens2/Cinemark_Sala%20Comum%2002_0.JPG?download=1"/>
</div>
<br/>
<div id="div-busca" style="margin-left:30px; width: 604px;">
    <img style="width:30px; height:30px;"
         src="https://icon-icons.com/icons2/37/PNG/512/Search_find_3519.png"
         alt="Find Filmes..."/>
    <input type="text" id="txt-busca" placeholder="Find Films..."/>
    <button id="but-busca" style="color: #ffffff;">Search</button>
</div>
{% block corpo %}
{% endblock %}
</body>
</html>